.header__language {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    transition: opacity .5s linear;
}

.header__language:last-of-type {
    text-decoration: none;
}

.header__language:hover {
    opacity: 0.5;
  }