.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-column-gap: 28px;
    }
}

@media screen and (max-width: 620px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}