.header__lang-links {
    margin: 0;
    padding: 0 0 6px 0;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 18px;
}

@media screen and (max-width: 320px) {
    .header__lang-links {
        padding: 0 0 8px 0;
    }
}